<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TuloByte Dashboard</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">

        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo text-light font-weight-bold text-decoration-none" href="dashboard">
            TuloByte
          </a>
          <a class="sidebar-brand brand-logo-mini text-light font-weight-bold text-decoration-none" href="dasboard">
            TB
          </a>
        </div>
        <ul class="nav">
          <li class="nav-item profile ">
            <div class="profile-desc ">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="./images/anon.png" alt="">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">jdcds734bjhc8....</h5>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
          </li>

          <li class="nav-item menu-items">
            <a class="nav-link" href="/mywallets">
              <span class="menu-icon">
                <i class="mdi mdi-wallet"></i>
              </span>
              <span class="menu-title">My Wallet</span>
            </a>
          </li>

          <li class="nav-item menu-items active">
            <a class="nav-link" href="/stats">
              <span class="menu-icon">
                <i class="mdi mdi-signal"></i>
              </span>
              <span class="menu-title">Stats</span>
            </a>
          </li>


          
          <li class="nav-item menu-items">
            <a class="nav-link" href="pages/icons/mdi.html">
              <span class="menu-icon">
                <i class="mdi mdi-security"></i>
              </span>
              <span class="menu-title">Privacy</span>
            </a>
          </li>

          <li class="nav-item menu-items">
            <a class="nav-link" href="pages/icons/mdi.html">
              <span class="menu-icon">
                <i class="mdi mdi-cloud-download"></i>
              </span>
              <span class="menu-title">Recovery</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="pages/charts/chartjs.html">
              <span class="menu-icon">
                <i class="mdi mdi-logout text-danger"></i>
              </span>
              <span class="menu-title">Logout</span>
            </a>
          </li>
          <!-- <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
              <span class="menu-title">Dropdown</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdowns</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li>
              </ul>
            </div>
          </li> -->
          
          <li class="nav-item menu-items">
            <a class="nav-link" href="/docs">
              <span class="menu-icon">
                <i class="mdi mdi-file-document-box"></i>
              </span>
              <span class="menu-title">Learn TuloByte</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <div class="searchDiv" id="searchDiv" onclick="hideSearchBox()">
          <form id="searchForm" onclick="donotClose(event)">
            <input type="text" class="form-control" placeholder="Search Transaction signature or wallet address">
          </form>
      </div>
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini text-light font-weight-bold text-decoration-none" href="dashboard">
              TuloByte
            </a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu menuButton"></span>
            </button>
            <ul class="navbar-nav w-100">
             
              <li class="nav-item w-100">
                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search searchForm">
                  <input type="text" class="form-control" placeholder="Search transaction signature or wallet address">
                </form>
              </li>
              <li onclick="showSearchBox()" class="nav-item d-flex mdi mdi-magnify icon-md d-lg-none d-xl-none text-light mt-2 mr-2 searchIcon"></li>
            </ul>

            <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">

                  <div class="navbar-profile">
                    <img class="img-xs rounded-circle  border border-info ml-2 m-1" src="./images/anon.png" alt="">
                    <p class="mb-0 d-none d-sm-block navbar-profile-name mr-2">jdcds734bjhc8......</p>
                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                  <h6 class="p-3 mb-0">Profile</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-wallet text-success"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">My Wallet</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-logout text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Log out</p>
                    </div>
                  </a>
                </div>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-menu menuButton"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-12 mb-3 stretch-card">
                <div class="card corona-gradient-card">
                  <div class="card-body pt-2 pb-2 px-sm-3">
                    <div class="row align-items-center">
                      <div class="col-4 col-sm-3 col-xl-2">
                        <img src="./images/compounding.png" class="gradient-corona-img img-fluid" alt="">
                      </div>
                      <div class="col-5 col-sm-7 col-xl-8 p-0">
                        <h4 class="mb-1 mb-sm-0">Why we burn coins?</h4>
                        <p class="mb-0 font-weight-normal d-sm-block topMessageSub">Click to understand the working and foundation of TuloByte</p>
                      </div>
                      <div class="col-3 col-sm-2 col-xl-2 pl-0 text-center">
                        <span>
                          <a href="https://www.bootstrapdash.com/product/corona-admin-template/" target="_blank" class="btn btn-outline-light btn-rounded get-started-btn">Click Here</a>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="scrollable-cards">
              <div class="row">

                <div class="col-auto mb-3 stretch-card">
                  <div class="card">
                    <div class="card-body statcards">
                      <div class="row">
                        <div class="col-8">
                          <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">$1.05</h3>
                            <p class="text-success ml-2 mb-0 font-weight-medium indicator">+5%</p>
                          </div>
                        </div>
                      </div>
                      <h6 class="text-muted mt-2 font-weight-bold ">Current Price <br> (in USD)</h6>
                    </div>
                  </div>
                </div>

                <div class="col-auto mb-3 stretch-card">
                  <div class="card">
                    <div class="card-body statcards">
                      <div class="row">
                        <div class="col-8">
                          <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">01</h3>
                          </div>
                        </div>
                      </div>
                      <h6 class="text-muted mt-2 font-weight-bold">Current Batch <br> (out of 200)</h6>
                    </div>
                  </div>
                </div>
  
                <div class="col-auto  mb-3 stretch-card">
                  <div class="card">
                    <div class="card-body statcards">
                      <div class="row">
                        <div class="col-9">
                          
                          <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">2.02b</h3>
                            <p class="text-danger ml-2 mb-0 font-weight-medium indicator">-0.01%</p>
                          </div>
                          
                        </div>
                      </div>
                      <h6 class="text-muted mt-2 font-weight-bold ">Current Supply <br> (in TB)</h6>
                      
                    </div>
                  </div>
                </div>

                <div class="col-auto mb-3 stretch-card">
                  <div class="card">
                    <div class="card-body statcards">
                      <div class="row">
                        <div class="col-9">
                          <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">12.98k</h3>
                            <p class="text-danger ml-2 mb-0 font-weight-medium indicator">-2.4%</p>
                          </div>
                          
                        </div>
                      </div>
                      <h6 class="text-muted mt-2 font-weight-bold">Coin Burned <br>  (in TB)</h6>
                    </div>
                  </div>
                </div>

                <div class="col-auto mb-3 stretch-card">
                  <div class="card">
                    <div class="card-body statcards">
                      <div class="row">
                        <div class="col-9">
                          <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">0.9m</h3>
                            <p class="text-success ml-2 mb-0 font-weight-medium indicator">+0%</p>
                          </div>
                          
                        </div>
                      </div>
                      <h6 class="text-muted mt-2 font-weight-bold">Amount Transacted <br> (in TB)</h6>
                    </div>
                  </div>
                </div>


                <div class="col-auto mb-3 stretch-card">
                  <div class="card">
                    <div class="card-body statcards">
                      <div class="row">
                        <div class="col-9">
                          <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">78.1k</h3>
                            <p class="text-success ml-2 mb-0 font-weight-medium indicator">+11%</p>
                          </div>
                          
                        </div>
                      </div>
                      <h6 class="text-muted mt-2 font-weight-bold">Qty. Transacted <br> (in TB)</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Orders -->
            <div class="row mt-3">
              <div class="col-12 mb-2">
                <div class="card">
                  <div class="card-body txnCard">
                    <h4 class="card-title">Buy/Sell Orders</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Datetime (GMT)</th>
                            <th>Type</th>
                            <th> Placed By </th>
                            <th>Quantity</th>
                            <th> Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          
                          
                          <tr>
                            <td>Aug 27, 2024 <br>12:43:56</td>
                            <td>
                              <span class="badge text-light bg-success p-1 pl-2 pr-2">buy</span>
                            </td>
                            <td> <a href="" class="link-primary">7gdfbf7d3c2fb......6f9f7d3c2fb</a> </td>
                            <td> 12.35</td>
                            <td> 123.45</td>
                          </tr>

                          <tr>
                            <td>Aug 27, 2024 <br>12:43:56</td>
                            <td>
                              <span class="badge text-light bg-success p-1 pl-2 pr-2">buy</span>
                            </td>
                            <td> <a href="" class="link-primary">7gdfbf7d3c2fb......6f9f7d3c2fb</a> </td>
                            <td> 12.35</td>
                            <td> 123.45</td>
                          </tr>

                          <tr>
                            <td>Aug 27, 2024 <br>12:43:56</td>
                            <td>
                              <span class="badge text-light bg-danger p-1 pl-2 pr-2">sell</span>
                            </td>
                            <td> <a href="" class="link-primary">7gdfbf7d3c2fb......6f9f7d3c2fb</a> </td>
                            <td> 12.35</td>
                            <td> 123.45</td>
                          </tr>
                        

                          <tr>
                            <td>Aug 27, 2024 <br>12:43:56</td>
                            <td>
                              <span class="badge text-light bg-danger p-1 pl-2 pr-2" >sell</span>
                            </td>
                            <td> <a href="" class="link-primary">7gdfbf7d3c2fb......6f9f7d3c2fb</a> </td>
                            <td> 12.35</td>
                            <td> 123.45</td>
                          </tr>

                          <tr>
                            <td>Aug 27, 2024 <br>12:43:56</td>
                            <td>
                              <span class="badge text-light bg-success p-1 pl-2 pr-2">buy</span>
                            </td>
                            <td> <a href="" class="link-primary">7gdfbf7d3c2fb......6f9f7d3c2fb</a> </td>
                            <td> 12.35</td>
                            <td> 123.45</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            <!-- Orders -->

            <!-- Transactions -->
            <div class="row mt-3">
              <div class="col-12 mb-2">
                <div class="card">
                  <div class="card-body txnCard">
                    <h4 class="card-title">Live Transactions</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Datetime (GMT)</th>
                            <th>Signature</th>
                            <th> Sender </th>
                            <th> Amount</th>
                            <th>Fee</th>
                          </tr>
                        </thead>
                        <tbody>
                          
                          
                          <tr>
                            <td>Aug 27, 2024 <br>12:43:56</td>
                            <td> <a href="" class="link-primary">6hsf7d3c2fb......6f9f7d3c2fb</a></td>
                            <td> <a href="" class="link-primary">9hsf7d3c2fb......6f9f7d3c2fb</a> </td>
                            <td> 123.45</td>
                            <td>
                              <div class="text-danger">1.01</div>
                            </td>
                          </tr>
                          <tr>
                            <td>Aug 27, 2024 <br>12:43:56</td>
                            <td> <a href="" class="link-primary">2fdff7d3c2fb......6f9f7d3c2fb</a></td>
                            <td> <a href="" class="link-primary">7gdfbf7d3c2fb......6f9f7d3c2fb</a> </td>
                            <td> 123.45</td>
                            <td>
                              <div class="text-danger">1.01</div>
                            </td>
                          </tr>

                          <tr>
                            <td>Aug 27, 2024 <br>12:43:56</td>
                            <td> <a href="" class="link-primary">3vdf7d3c2fb......6f9f7d3c2fb</a></td>
                            <td> <a href="" class="link-primary">9fgf7d3c2fb......6f9f7d3c2fb</a> </td>
                            <td> 123.45</td>
                            <td>
                              <div class="text-danger">1.01</div>
                            </td>
                          </tr>
                          <tr>

                          <tr>
                            <td>Aug 27, 2024 <br>12:43:56</td>
                            <td> <a href="" class="link-primary">5gf7d3c2fb......6f9f7d3c2fb</a></td>
                            <td> <a href="" class="link-primary">8gdf7d3c2fb......6f9f7d3c2fb</a> </td>
                            <td> 123.45</td>
                            <td>
                              <div class="text-danger">1.01</div>
                            </td>
                          </tr>
                          <tr>

                            <tr>
                              <td>Aug 27, 2024 <br>12:43:56</td>
                              <td> <a href="" class="link-primary">f7d3c2fb......6f9f7d3c2fb</a></td>
                              <td> <a href="" class="link-primary">f7d3c2fb......6f9f7d3c2fb</a> </td>
                              <td> 123.45</td>
                              <td>
                                <div class="text-danger">1.01</div>
                              </td>
                            </tr>
                            <tr>
                        </tbody>
                      </table>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            <!-- Transactions -->

          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © tulobyte.com 2024</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="assets/vendors/chart.js/Chart.min.js"></script>
    <script src="assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="assets/js/off-canvas.js"></script>
    <script src="assets/js/hoverable-collapse.js"></script>
    <script src="assets/js/misc.js"></script>
    <script src="assets/js/settings.js"></script>
    <script src="assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="assets/js/dashboard.js"></script>
    <script src="files/func.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>