<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/files/login.css?v=1.0">
    <link href="assets/css/fontawesome6.3.0.css" rel="stylesheet">
    <link href="assets/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="assets/fontawesome/css/solid.min.css" rel="stylesheet">
    <title>ShellCoin Login</title>
</head>
<body>
    <div class="topViewBox">
        <div class="viewArea">
            <div class="loginTitle">
                <span>Your ShellCoin Wallet</span>
            </div>
            <hr width="80px">
            <div class="loginModes">
                <a class="anon-btn" onclick="createWallet()" id="anon-btn"><img src="images/anon.png" alt="github logo"> Create a new wallet</a>
            </div>
            <div class="loginModes">
                <a class="applyReferalLink" onclick="recoverWallet()" id="anon-btn"> Recover an old wallet</a>
            </div>

            <div class="applyReferalLink" onclick="toggleReferal()" id="applyReferalLink">
                <span>I have referel code</span>
            </div>
           

            <div id="applyReferer" class="loginModes applyReferer" style="display: none;">
                <input id="referalInput" type="text" placeholder="Enter referel code">
                <span id="applyReferal" onclick="applyReferal()" class="button">Apply code</span>
            </div>

            <div class="loginModes agreement">
                <span>Before creating your wallet with ShellCoin, please review these key points to ensure its <a href="/security-recovery">security and  recovery</a>. </span>
            </div>
        </div>
    </div>
    <script src="/files/func.js?v=1.1.4"></script>
    <script src="/files/log.js?v=1.1.4"></script>
</body>
</html>