<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../files/marketplace.css">
    <title>TuloByte Marketplace</title>
</head>
<body>
    <div class="mainContainer">
        <div class="headerSection">
            <div class="logoSection">TuloByte</div>
            <div class="dropdownSection">
                <!-- <img src="images/anon.png" alt="icon"> -->
                <span class="walletAddress"></span>
            </div>
        </div>


        <div class="bodySection">
            <div class="statSection">
                <div class="statCards bytePrice"><span class="title">Coin Price</span> <span class="value">$1.05</span></div>
                <div class="statCards currentBatch"><span class="title">Current Batch</span><span class="value">01/200</span></div>
                <div class="statCards currentSupply"><span class="title">Circulating Supply</span><span class="value">2.01 billions</span></div>
                <div class="statCards totalTxns"><span class="title">Total Transactions</span><span class="value">999k</span></div>
                <div class="statCards coinBurned"><span class="title">Coin Burned</span><span class="value">12k</span></div>

            </div>
        </div>
    </div>
</body>
</html>