<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <link href="assets/css/fontawesome6.3.0.css" rel="stylesheet">
    <link href="assets/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="assets/fontawesome/css/solid.min.css" rel="stylesheet">
    <link rel="stylesheet" href="files/terms.css">
    <link rel="stylesheet" href="files/style.css?v=2.0.3">
    <title>Security and Recovery of Wallet</title>
</head>

<body>
    <div class="topViewBox">
        <div class="viewArea">
            <div class="headerSection">
                <div class="logoSection">
                    <img src="images/logo-round.png" alt="O" class="logo">
                    <h1 class="name"><%- appInfo.appName %>  </h1> 
                    
                </div>

                <!-- <%- data.WebTop %> -->
                <!-- <%- data.MobTop %> -->

            </div>

            <!-- <%- data.Dp %> -->
            <div class="mainTitle">
                Security and Recovery of Wallet
            </div>
            <div class="contentSection">
                <div class="sections">
                    <span class="title">Your Wallet Credentials</span>
                    <ul class="points uList">
                        <li><b>Wallet Address: </b>A wallet address is a unique string of characters used to send and receive cryptocurrency. It functions like a bank account number in the crypto world, allowing you to send and receive funds on the blockchain. Each wallet address is associated with a specific wallet and cryptocurrency.</li>
                        <li><b>Private key: </b>A private key is a crucial element of cryptocurrency security, acting as the secret code that grants you access to the funds in your wallet. It is a long, randomly generated string of characters that should be kept confidential at all times.</li>
                        <li><b>Seed Phrase: </b>A seed phrase (also known as a recovery phrase or mnemonic phrase) is a series of words used to recover a cryptocurrency wallet. It is a human-readable representation of your wallet's private key(s) and serves as a backup in case you lose access to your wallet or need to restore it.</li>
                    </ul>
                </div>


                <div class="sections">
                    <span class="title">Do's</span>
                    <ul class="points uList">
                        <li><b>Secure your seed phrase: </b>As you know the seed phrase is the only way to recover your wallet. Write down your seed phrase and store it in a safe, offline location. Or remember the seed phrase if you can.</li>

                        <li><b>Stay Aware of Phishing Scams: </b>To protect your sensitive information, always ensure you're using official and secure websites or apps. Be cautious of URLs that include initials similar to our platform; double-check the domain to verify authenticity.</li>

                        <li><b>Monitor Your Transactions: </b>Regularly check your wallet's transaction history for any unauthorized or suspicious activity.</li>

                        <li><b>Keep Your Wallet Software Updated: </b>Regularly update your wallet software to ensure you have the latest security features and patches</li>

                        <li><b>Regularly Backup Your Wallet: </b>Make multiple copies of your backup and store them in different secure locations to protect against loss or damage.</li>

                        <li><b>Log Out or Disconnect When Not in Use: </b>Reduce the risk of unauthorized access by logging out or disconnecting your wallet when it's not actively in use.</li>

                        <li><b>Do Have a Recovery Plan: </b>Ensure that trusted individuals know how to access your recovery phrase or backup in case of emergencies.</li>
                    </ul>
                </div>


                <div class="sections">
                    <span class="title">Don'ts</span>
                    <ul class="points uList">
                        <li><b>Don't Share Your Private Key or Seed Phrase: </b>Never disclose your private key or seed phrase to anyone. These are the keys to your wallet and should remain confidential.</li>

                        <li><b>Don't Store Sensitive Information Digitally: </b>Avoid storing your seed phrase or private key in digital formats like cloud storage or email, which could be hacked.</li>

                        <li><b>Don't Use Public Wi-Fi for Transactions: </b>Avoid accessing your wallet or making transactions over unsecured or public Wi-Fi networks.</li>

                        <li><b>Don't Click on Suspicious Links: </b>Be wary of clicking on links from unknown sources or unsolicited messages that might be phishing attempts.</li>

                        <li><b>Don't Reuse Wallet Addresses for Large Transactions: </b>For added privacy and security, use different addresses for large transactions to prevent tracking and potential exposure.</li>
                    </ul>
                </div>
            </div>   
        </div>
    </div>
    <script src="files/func.js?v=1.0.3"></script>
</body>

</html>