<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="files/style.css?v=2.0.3">
    <link rel="stylesheet" href="files/support.css?v=1.0">
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <link href="assets/css/fontawesome6.3.0.css" rel="stylesheet">
    <link href="assets/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="assets/fontawesome/css/solid.min.css" rel="stylesheet">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <title>ShellCoin Presale Live</title>
</head>
<body>
    <div class="topViewBox">
        <div class="viewArea">
             <!-- Query Screen -->
            <div class="queryScreen" style="display: none;">
                <div class="supportForm">
                    <div class="fieldSection">
                         <select class="fields sOptions" name="" id="">
                            <option value="none">Select Query Type</option>
                            <option value="account">Account</option>
                            <option value="payment">Payment</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <div class="fieldSection">
                        <input class="fields" type="text" name="" id="" placeholder="Subject or Title">
                    </div>
                    <div class="fieldSection">
                         <textarea name="" id="" rows="7"  class="fields textArea" placeholder="Query in detail"></textarea>
                    </div>
                    <div class="submitButton">
                        <span>SUBMIT</span>
                    </div>
                </div>
            </div>
            <!-- Query Screen -->

            <div class="headerSection">
                <div class="logoSection">
                    <img src="images/logo-round.png" alt="O" class="logo">
                    <h1 class="name">ShellCoin </h1> 
                    <p> (Presale)</p>
                    
                </div>
                <%- data.WebTop %>
                <%- data.MobTop %>
            </div>

            <!-- Support Section -->
            <div class="supportSection">
                <div class="head">
                    <div class="title">Your Queries</div>
                    <div class="raiseQueryButton"><span>Raise a Query</span></div>
                </div>
                <!-- <div class="recentQueries">
                    <div class="queries emptyQuery"><span>No Query Raised</span></div>
                </div> -->

                <div class="recentQueries">
                    <div class="queries">
                        <div class="queryHead">
                            <span class="queryRaiser">Mohd Shafiq</span>
                            <span class="queryStatus replied">(Replied)</span>
                            <span class="queryTime">1 month ago</span>
                        </div>
                        <div class="queryBody">
                            <span>Why there is no owner or designer pic anywhere in the platform? I am writing this because you the one of the scam company on this world.</span>
                        </div>
                        <div class="queryResponse">
                            <div class="responseHead">
                                <span class="responserName">ShellCoin Owner</span>
                                <span class="responseTime">12 Hours ago</span>
                            </div>
                            <div class="responseBody">
                                <span>Why there is no owner or designer pic anywhere in the platform? I am writing this because you the one of the scam company on this world.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recentQueries">
                    <div class="queries">
                        <div class="queryHead">
                            <span class="queryRaiser">Mohd Shafiq</span>
                            <span class="queryStatus replied">(Replied)</span>
                            <span class="queryTime">1 month ago</span>
                        </div>
                        <div class="queryBody">
                            <span>Why there is no owner or designer pic anywhere in the platform? I am writing this because you the one of the scam company on this world.</span>
                        </div>
                        <div class="queryResponse">
                            <div class="responseHead">
                                <span class="responserName">ShellCoin Owner</span>
                                <span class="responseTime">12 Hours ago</span>
                            </div>
                            <div class="responseBody">
                                <span>Why there is no owner or designer pic anywhere in the platform? I am writing this because you the one of the scam company on this world.</span>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
            <!-- Support Section -->

        </div>

        <!-- Footer Section -->
        <div class="footer">
            <div class="footerContent">
                <div class="footerLinkDivs">
                    <div class="links" onclick="goto('/roadmap')">Roadmap</div>
                    <div class="links" onclick="goto('/sitemap')">Sitemap</div>
                    <div class="links" onclick="goto('/terms-conditions')">Terms & Conditions</div>

                </div>
                <div class="footerLinkDivs">
                    <div class="links" onclick="goto('/whitepaper')">Whitepaper</div>
                    <div class="links"><a href="https://t.me/shellcoinofficial">Telegram</a></div>
                    <div class="links" onclick="goto('/privacy-policy')">Privacy policy</div>
                    
                </div>
                <div class="footerLinkDivs">
                    
                    <div class="links" onclick="goto('/support')">Support Page</div>
                    <div class="links"><a href="mailto:shellcoinofficial@gmail.com">Mail Us</a></div>
                    <div class="links"><a href="https://discord.gg/4TU9tzyt83">Discord</a></div>
                </div>
            </div>

            <div class="copyright">
                ShellCoin (SHCN) | USA | 2024
            </div>
        </div>
        <!-- footer section -->
    </div>
    
    <script src="files/func.js?v=1.0.3"></script>
</body>
</html>

