@font-face {
    font-family: 'Geometric';
    src: url('../fonts/geometric-415-black-bt.ttf') format('truetype');
    /* Add additional src lines if you have different font formats */
}
*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    background-color: #0a001d;
    height: 100vh;
}

.topViewBox{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.viewArea{
    padding: 35px 35px 35px 35px;
    border: 1px solid #cab8ec;
    border-radius: 10px;
    background-color: #0a001d;
    box-shadow: 0px 0px 8px 2px #161616;
    margin: 20px  0px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
}
.loginTitle{
    margin-bottom: 18px;
    font-size: larger;
    font-family: Geometric;
    color: aliceblue;
    display: flex;
    justify-content: center;
    text-transform: none;
    text-align: center;
}
.verificationTitle{
    text-transform: capitalize;
}
.walletInfo{
    margin-top: 0px;
    margin-bottom: 0px;
    flex-direction: column;
}
.topMessage{
    max-width: 220px;
    font-size: 12px;
    color: rgb(244, 72, 9);
    text-transform: none;
    margin: 8px 0px 0px 0px;
    text-align: left;
}
/* Recovery Phrase */
.walletInfo .walletPhrase{
    margin-top: 10px;
    width: 100%;
    text-align: left;
}
.walletInfo .walletPhrase .title{
    text-underline-offset: 3px;
    font-size: 13px;
    text-transform: capitalize;
    display: flex;
    align-items:  center;
    text-decoration: underline;
}
.walletPhrase .recoveryPhraseField{
    margin-top: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}
.recoveryPhraseField ul{
    max-width: 200px;
    display: flex;
    flex-wrap: wrap; 
    margin-bottom: 10px;
}
.applyReferalLink .referalCode{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
    max-width: 180px !important;
    margin-top: 5px;
    width: auto;
}
.recoveryPhraseField ul li{
    font-size: 12px;
    list-style: decimal;
    display: flex;
    flex-wrap: wrap; 
    color: #cab8ec;
    border-radius: 3px;
    margin-left: 10px;
    margin-top: 10px;
    text-transform: none;
}
.smallTitle{
    font-size: 8px;
    text-transform: capitalize;
    margin-left: 5px;
    color: orangered;
}
/* Recovery Phrase */
.instructions{
    max-width: 220px;
}
.instructions p{
    font-size: 10px;
    margin-top: 3px;
    text-transform: none;
}

.downloadLink{
    color: aqua;
    font-size: 12px;
    text-transform: capitalize;
}
.downloadLink:hover{
    color: blueviolet;
    cursor: pointer;
}
/* Recovery File */
.walletInfo .recoveryFile{
    width: 100%;
    text-align: left;
}
.walletInfo .recoveryFile .title{
    text-underline-offset: 3px;
    text-decoration: underline;
    font-size: 13px;
    text-transform: capitalize;
}
/* Recovery File */

.walletInfo .walletAddress{
    text-align: left;
    margin-top: 10px;
}
.walletInfo .walletAddress .title{
    text-decoration: underline;
    text-underline-offset: 3px;
    font-size: 13px;
    text-transform: capitalize;
}
.walletInfo .walletAddress input, .recoveryFileField input{
    background-color: transparent;
    border: 0px;
    outline: none;
    color: #cab8ec;
    padding: 5px;
    height: 100%;
    font-size: 12px;
    font-family: Geometric;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}


.walletInfo .walletAddress i, .recoveryFile i{
    margin: 5px;
    color: rgb(201, 193, 182);
}
.walletAddressField, .recoveryFileField{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    /* margin-top: 5px; */
    border-radius: 5px;
}
.recoveryFileField{
    /* margin-bottom: 10px; */
    justify-content: flex-start;
}
.walletAddressField{
    justify-content: flex-start;
    border: none;
}
.recoveryFileField i:hover{
    color: white;
    cursor: pointer;
}

.walletAddressField input{
    border: none !important;
    color: #16d355 !important;
}
.successMessage{
    font-size: 15px;
    color: #16d355;
    margin-bottom: 0px;
    text-transform: none;
}
.successIcon img{
    width: 30px;
    height: 30px;
}
.goToWallet{
    margin-top: 12px;
}
.goToWallet span{
    color: white;
    font-size: 12px;
    padding: 5px 12px;
    border: 1px solid grey;
    border-radius: 5px;
}
.goToWallet span:hover{
    cursor: pointer;
    
    color: rgb(9, 166, 255);
    border: 2px solid;
}
.anonMessage{
    color: lime;
    font-family: Geometric;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 10px;
    text-align: center;
}
.captchaBox{
    border-bottom: 1px solid rgb(171, 167, 167);
}
#captchaMessage{
    font-family: Geometric;
    color: orangered;
    align-self: flex-start;
    margin-left: 10px;
}
#loadingOverlay{
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #47b575ce;
}
#loadingMessage{
    font-family: Geometric;
    color: #0a001d;
    margin-top: 10px;
}
#overlayAnim div{
    background-color: #0a001d;
}
.captchaInput{
    margin: 15px;
    padding: 5px;
    max-width: 150px;
    text-align: center;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 5px;
    color: beige;
}
.anon-btn{
    background-color: #ffffff;
    color: #3e0707;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px 5px 2px;
    cursor: pointer;
    border-radius: 25px;
    font-family: Geometric;
    display: flex;
    align-items: center;
}

.loginWallet{
    padding: 11px 20px;
}
.anon-btn:hover{
    background-color: #c6ced0;
    
}
.refreshIcon{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.refreshIcon:hover{
    cursor: pointer;
}
.refreshIcon i{
    color: blueviolet;
}
.refreshIcon i:hover{
    color: rgb(166, 135, 195);
}
.errorMessage{
    margin-top: 0px;
    font-size: 14px;
    color: rgb(255, 140, 0);
    text-align: center;
    font-family: Geometric;
    margin-bottom: 10px;
}
.redirectingMessage{
    margin-top: 10px;
    font-size: 13px;
    color: lime;
    text-align: center;
    font-family: Geometric;
}
.s15{
    font-size: 15px;
}
.goBack{
    color: white;
    position: absolute;
    top: 35px;
    left: 20px;
}
.goBack:hover{
    color: #cab8ec;
    cursor: pointer;
}
.errorTitle{
    margin-bottom: 10px;
    color: red;
    text-transform: capitalize;
}
.captchaFillDiv{
    display: flex;
}
.loginValueInputDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.loginValueInputDiv .loginValueInput{
    width: 80%;
    border: 1px solid grey;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-family: Geometric;
    color: white;

}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.anon-btn img{
    height: 25px;
    width: 25px;
    margin-right: 12px;
}

.anon-btn .recover{
    height: 22px;
    width: 20px;
}


.loginModes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.applyReferer{
    margin-top: 15px;

    flex-direction: column;
}


.applyReferer .button{
    color: white;
    background-color:slateblue;
    font-family: sans-serif;
    font-weight: bold;
    padding: 8px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.applyReferer input{
    padding: 10px;
    outline: 0;
    border-radius: 20px;
    border: 0px;
    margin-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: rgb(10, 151, 10);
}

.applyReferalLink{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
    margin-top: 10px;
    color: rgb(0, 166, 255);
    font-size: small;
    font-family: Geometric;
}
.applyReferalLink{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.applyReferalLink:hover{
    cursor: pointer;
    color: rgb(9, 128, 192);
}

.agreement{
    color: whitesmoke;
    font-family:sans-serif;
    font-size: small;
    width: 100%;
    max-width: 230px;
    margin-top: 15px;
    text-align: center;
}

.agreement a{
    text-decoration: none;
    color: rgb(0, 166, 255);
    font-weight: bold;
}

.dot {
    width: 5px;
    height: 5px;
    background-color: rgb(0, 166, 255);
    border-radius: 50%;
    margin: 4px 2px;
    opacity: 0;
    transition: opacity 0.5s ease;
}
@media screen and (max-width: 600px) {
    .topViewBox{
       /* height: auto; */
    }
    
    .applyReferalLink{
        font-size: 14px;
    }

    .agreement{
        font-size: 16px;
    }
}
@media screen and (max-width: 400px){
    .topViewBox {
        height: auto;
        width: 100vw;
        align-items: flex-start;
        padding: 0px;
    }  
    .viewArea{
        border: 0px;
        box-shadow: none;
        padding: 20px;
        width: 100%;
        margin-top: 20px;
    }
    .goBack{
        top: 15px;
    }
    .captchaInput{
        max-width: none;
    }
    .topMessage{
        max-width: none;
        margin-top: 20px;
        font-size: 13px;
    }
}