@font-face {
    font-family: 'Geometric';
    src: url('../fonts/geometric-415-black-bt.ttf') format('truetype');
    /* Add additional src lines if you have different font formats */
}
*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100%;
    flex-direction: column;
    background-color:hsl(240deg 48.15% 10.59%);
    background-image: url('/images/loginback.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: hsl(240deg 48.15% 10.59%);
    background-blend-mode: luminosity;
    backdrop-filter: blur(1px);
}

.topViewBox{
    max-width: 1400px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewArea{
    padding: 35px 35px 35px 35px;
    border: 1px solid #cab8ec;
    border-radius: 10px;
    background-color: #0a001d;
    box-shadow: 0px 0px 8px 2px #161616;
    margin: 20px  0px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.loginTitle{
    margin-bottom: 18px;
    font-size: larger;
    font-family: Geometric;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
}
.verificationTitle{
    text-transform: capitalize;
}
.walletInfo{
    margin-top: 10px;
    flex-direction: column;
}

/* Recovery Phrase */
.walletInfo .walletPhrase{
    margin-top: 10px;
    width: 100%;
    text-align: left;
}
.walletInfo .walletPhrase .title{
    font-size: 12px;
    text-transform: capitalize;
}
.walletPhrase .recoveryPhraseField{
    margin-top: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
.recoveryPhraseField ul{
    max-width: 200px;
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.recoveryPhraseField ul li{
    text-align: center;
    font-size: 10px;
    list-style: decimal;
    display: flex;
    flex-wrap: wrap; 
    padding: 5px 10px;
    color: #cab8ec;
    border-radius: 3px;
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid grey;
}
/* Recovery Phrase */

/* Recovery File */
.walletInfo .recoveryFile{
    margin-top: 10px;
    width: 100%;
    text-align: left;
}
.walletInfo .recoveryFile .title{
    font-size: 12px;
    text-transform: capitalize;
}
/* Recovery File */

.walletInfo .walletAddress{
    text-align: left;
    margin-top: 10px;
}
.walletInfo .walletAddress .title{
    font-size: 12px;
    text-transform: capitalize;
}
.walletInfo .walletAddress input{
    background-color: transparent;
    border: 0px;
    border-right: 1px solid grey;
    outline: none;
    color: #cab8ec;
    padding: 5px;
    height: 100%;
}
.walletInfo .walletAddress i{
    margin: 5px;
    color: rgb(201, 193, 182);
}
.walletInfo .walletAddress .walletAddressField{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    border: 1px solid grey;
    margin-top: 5px;
    border-radius: 5px;
}
.walletInfo .walletAddress .walletAddressField i:hover{
    color: white;
    cursor: pointer;
}
.successMessage{
    font-size: 10px;
    color: #16d355;
}
.successIcon img{
    width: 30px;
    height: 30px;
}
.anonMessage{
    color: lime;
    font-family: Geometric;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 10px;
    text-align: center;
}
.captchaBox{
    border-bottom: 1px solid rgb(171, 167, 167);
}
#captchaMessage{
    font-family: Geometric;
    color: yellowgreen;
}
.captchaInput{
    margin: 15px;
    padding: 5px;
    max-width: 150px;
    text-align: center;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 5px;
    color: beige;
}
.anon-btn{
    background-color: #ffffff;
    color: #3e0707;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px 5px 2px;
    cursor: pointer;
    border-radius: 20px;
    font-family: Geometric;
    display: flex;
    align-items: center;
}

.anon-btn{
    padding: 10px 20px;
    border-radius: 25px;
    
}
.anon-btn:hover{
    background-color: rgb(112, 56, 134);
    color: #ffffff;
}
.refreshIcon{
    padding: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.refreshIcon:hover{
    background-color: transparent;
    
}
.refreshIcon i{
    color: blueviolet;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.anon-btn img{
    height: 25px;
    width: 25px;
    margin-right: 12px;
}


.loginModes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.applyReferer{
    margin-top: 15px;

    flex-direction: column;
}


.applyReferer .button{
    color: white;
    background-color:slateblue;
    font-family: sans-serif;
    font-weight: bold;
    padding: 8px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.applyReferer input{
    padding: 10px;
    outline: 0;
    border-radius: 20px;
    border: 0px;
    margin-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: rgb(10, 151, 10);
}

.applyReferalLink{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
    margin-top: 10px;
    color: rgb(0, 166, 255);
    font-size: small;
    font-family: Geometric;
}
.applyReferalLink span{
    display: flex;
    width: 100%;
    justify-content: center;
}
.applyReferalLink:hover{
    cursor: pointer;
    color: rgb(9, 128, 192);
}

.agreement{
    color: whitesmoke;
    font-family:sans-serif;
    font-size: small;
    width: 100%;
    max-width: 230px;
    margin-top: 15px;
    text-align: center;
}

.agreement a{
    text-decoration: none;
    color: rgb(0, 166, 255);
    font-weight: bold;
}

.dot {
    width: 5px;
    height: 5px;
    background-color: rgb(0, 166, 255);
    border-radius: 50%;
    margin: 4px 2px;
    opacity: 0;
    transition: opacity 0.5s ease;
}
@media screen and (max-width: 600px) {
    .topViewBox{
       height: auto;
    }
    
    .applyReferalLink{
        font-size: large;
    }

    .agreement{
        font-size: 16px;
    }
}